@model IEnumerable<ComicStoreMVC.Models.OrderDetailsViewModel>

@{
    ViewBag.Title = "GetOrderDetailsByOrderId";
}

@{
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}

<h2>GetOrderDetailsByOrderId</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComicBookId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            Comic Book
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ComicBookId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BookPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BookName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
    }

</table>
