@model PagedList.StaticPagedList<ComicStoreMVC.Models.ComicBookIncludeNavPropViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-sm">
            <div>
                @using (Html.BeginForm("ComicBooks", "Admin", FormMethod.Get))
                {
                    @Html.TextBox("Search", null, new { @class = "SearchBox" })
                    <input type="submit" value="Search" />
                }
            </div>
        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <div>

            </div>
        </div>
    </div>
</div>

<table class="table table-hover">
    <tr>

        <th>
            Name
        </th>
        <th>
            Cover
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
        <th>
            Category
        </th>
        <th>
            Publisher
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <image src="@Url.Content(item.Image)" alt="" height="90" width="60" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "ComicBooks", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "ComicBooks", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "ComicBooks", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>

<div class="panel-footer">
    @Html.ActionLink("Add Comic Book", "Create", "ComicBooks", null,
        new { @class = "btn btn-default" })
</div>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("ComicBooks", new { page }))
