@model PagedList.StaticPagedList<ComicStoreMVC.Models.OrderViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div>
                @using (Html.BeginForm("GetOrdersByEmail", "Orders", FormMethod.Get))
                {
                    @Html.TextBox("Search", null, new { @class = "SearchBox" })
                    <input type="submit" value="Search" />
                }
            </div>
        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <div>

            </div>
        </div>
    </div>
</div>

<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th class="text-center">
            Email

        </th>
        <th class="text-center">
            Price

        </th>
        <th class="text-center">
            Order Date

        </th>
        <th class="text-center">
            Order Status

        </th>
        <th class="text-center">
            Name
        </th>
        <th class="text-center">
            Last Name
        </th>
        <th class="text-center">
            Phone Number
        </th>
        <th class="text-center">
            Order Details
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Details", "GetOrderDetailsByOrderId", "Orders", new { id = item.Id }, null)
            </td>
            <td class="text-center">
                @Html.ActionLink("Edit", "Edit", "Orders", new { id = item.Id }, null) |

                @Html.ActionLink("Delete", "Delete", "Orders", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>


@Html.PagedListPager(Model, page => Url.Action("Orders", new { page }))

