@model ComicStoreMVC.Models.ShoppingCartViewModel

@{
    ViewBag.Title = "Shopping Cart";
}

<script src="~/Scripts/jquery-3.4.1.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    });
</script>

<h3>Shopping Cart</h3>

@Html.ActionLink("Checkout", "AddressAndPayment", "Checkout", null, new { @class = "btn btn-secondary" })


<div id="update-message"></div>


<table class="table">
    <thead>
        <tr>

            <th>
                Name
            </th>

            <th>
                Price
            </th>

            <th class="text-center">
                Quantity
            </th>

        </tr>
    </thead>

    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.RecordId">

            <td>
                @Html.ActionLink(item.ComicBook.Name, "Details", "ComicBooks", new { id = item.ComicBookId }, null)
            </td>

            <td>
                @item.ComicBook.Price
            </td>

            <td id="item-count-@item.RecordId" class="text-center">
                @item.Count
            </td>

            <td>
                <a href="#" class="RemoveLink"
                   data-id="@item.RecordId">
                    Remove
                    from cart
                </a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>

        <td id="cart-total">
            @Model.CartTotal
        </td>

    </tr>
</table>


@Html.ActionLink("Back To Store", "List", "ComicBooks", null, new { @class = "btn btn-primary" })

