@model ComicStoreMVC.Models.ShoppingCartViewModel

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="~/Scripts/jquery-3.4.1.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    $(function () {

        $(".RemoveLink").click(function () {

            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {

                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {

                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    });
</script>


<h3>Shopping Cart</h3>
<hr />


<div id="update-message"></div>


<table class="table">
    <thead>
        <tr>

            <th>
                Product
            </th>

            <th>
                Price
            </th>

            <th class="text-center">
                Quantity
            </th>

        </tr>
    </thead>

    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.RecordId">

            <td>
                <image src="@Url.Content(item.ComicBook.Image)" class="img-responsive" alt="smaple image" height="90" width="60" />

                @Html.ActionLink(item.ComicBook.Name, "Details", "ComicBooks", new { id = item.ComicBookId }, null)
            </td>

            <td>
                @Html.DisplayFor(model => item.ComicBook.Price)
            </td>

            <td id="item-count-@item.RecordId" class="text-center">
                @item.Count
            </td>

            <td>
                <a href="#" class="RemoveLink"
                   data-id="@item.RecordId">
                    Remove
                </a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>

        <td id="cart-total">
            @Html.DisplayFor(model => model.CartTotal)
        </td>

    </tr>
</table>

<tr>


    <td>

        <button type="button" class="btn btn-default">

            @Html.ActionLink("Continue Shopping", "List", "ComicBooks")
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </button>

    </td>
    <td>   </td>
    <td>   </td>
    <td>   </td>
    <td>   </td>
    <td>   </td>
    <td>   </td>
    <td>   </td>
    <td>
        @Html.ActionLink("Checkout", "AddressAndPayment", "Checkout", null, new { @class = "btn btn-success" })

    </td>
</tr>
<td><a href="@Url.Action("CheckoutWithPayPal", "Checkout")">
    <img style="width: 35%; height: 35%;" src="~/wwwroot/assets/img/PayPalB.png" />
</a></td>




